{% extends 'layout.html' %}
{% block body %}
<div class="row">
<h3 class='text-center text-muted mb-3'></h3>
<p></p>
<h3 style="color: white;">Visualize os casos</h3><hr>
<table class="table table-bordered" style="background-color: rgb(0, 0, 0);">
  <thead>
    <tr>
      <th scope="col" style="color: white;"">ID</th>
      <th scope="col" style="color: white;"">Nome</th>
      <th scope="col" style="color: white;"">Idade</th>
      <th scope="col" style="color: white;"">Rua</th>
      <th scope="col" style="color: white;"">Cidade</th>
      <th scope="col" style="color: white;"">Número</th>
      <th scope="col" style="color: white;"">Estado</th>
      <th scope="col" style="color: white;"">E-mail</th>
    </tr>
  <tbody>
      {% for row in datas %}
    <tr>
      <td style="color: white;">{{loop.index}}</td>
      <td style="color: white;">{{row.NOME}}</td>
      <td style="color: white;">{{row.IDADE}}</td>
      <td style="color: white;">{{row.RUA}}</td>
      <td style="color: white;">{{row.CIDADE}}</td>
      <td style="color: white;">{{row.NUMERO}}</td>
      <td style="color: white;">{{row.ESTADO}}</td>
      <td style="color: white;">{{row.EMAIL}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}